[Unit]
Description=freeswitch
After=syslog.target network.target local-fs.target
 
[Service]
Type=forking
PIDFile=/var/run/freeswitch/freeswitch.pid
ExecStartPre=chown -R freeswitch.freeswitch  /etc/freeswitch
ExecStartPre=chown -R freeswitch.freeswitch  /var/run/freeswitch
ExecStartPre=chown -R freeswitch.freeswitch  /var/lib/freeswitch
ExecStartPre=chown -R freeswitch.freeswitch  /var/log/freeswitch
ExecStart=/usr/bin/freeswitch -u freeswitch -g freeswitch -ncwait -nonat -rp -log /var/run/freeswitch -conf /etc/freeswitch  -db /var/lib/freeswitch/db -run /var/run/freeswitch -mod /opt/freeswitch/lib/freeswitch/mod
TimeoutSec=45s
Restart=on-failure
WorkingDirectory=/var/run/freeswitch
User=root
Group=daemon
LimitCORE=infinity
LimitNOFILE=100000
LimitNPROC=60000
;LimitSTACK=240
LimitRTPRIO=infinity
LimitRTTIME=7000000
IOSchedulingClass=realtime
IOSchedulingPriority=2
CPUSchedulingPolicy=rr
CPUSchedulingPriority=89
UMask=0007
 
[Install]
WantedBy=multi-user.target